---
layout: page
title: Your Friendly Neighbourhood Product Guy!
---
<ul class="posts">
    {% for post in paginator.posts %}
    <li class="post">
        <small>{{ post.date | date_to_string }}</small>
        <small><a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></small>
        <br>
        <a class="nice-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <p class="nice-text">{{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | relative_url }}">Read more!</a></p>
    </li>
    
    {% endfor %}
    {% include pagination.html %}
</ul>
<meta name="p:domain_verify" content="7491c4223ece10a3fc46ebd917951169"/>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'vipul';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
